artifacts_root : artifacts


data_ingestion:
  root_dir : data/raw
  data_url : https://github.com/Hafsaimranazlan/test/raw/refs/heads/main/wineQ.zip
  local_data_file: data/raw/wineQ.zip
  unzip_dir: data/raw



data_validation:
  root_dir : data/data_validation
  unzip_data_path : data/raw/WineQ.csv
  STATUS_FILE : data/data_validation/status.txt


data_transformation:
  root_dir: data/processed
  data_path : data/raw/wineQ.csv
  pkl_path: data/processed/prepro.pkl

