name : Ci_demo

on: push

jobs:
    build:
        name: build
        runs-on: ubuntu-latest
        steps:
            - name : chekout Repository
              uses : actions/checkout@v4

            - name : install python
              uses : actions/setup-python@v5
              with:
                python-version : '3.8'

            - uses: iterative/setup-cml@v1
            
            - name: Install Dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements_dev.txt

            - name: Run flake8 Linting
              run: |
                flake8 

            - name: Run Unit Tests
              run: |
                pytest tests/


                  # Step 6: Run Data Ingestion
            - name: Run Data Ingestion
              run: |
                python ./src/pipeline/stage_01_data_ingestion.py

      # Step 7: Run Data Validation
            - name: Run Data Validation
              run: |
                python ./src/pipeline/stage_02_data_validation.py

      # Step 8: Run Data Transformation
            - name: Run Data Transformation
              run: |
                python ./src/pipeline/stage_03_data_transformation.py

      # Step 9: Train the Model
            - name: Model Trainer
              run: |
                python ./src/pipeline/stage_04_Model_trainer.py

